In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_csv('jobs.csv')

In [3]:
print("Welcome to Big Biggerson")
print("We will together find a better job for youj")

Welcome to Big Biggerson
We will together find a better job for youj

In [4]:
city   = {1 : "Mumbai", 2 : "Nagpur", 3 : "Pune", 4 : "Delhi", 5 : "Bhopal", 6 : "Indore", 7 : "Jaipur", 8 : "madras", 9 : "Ambur", 10 : "banglore"}
gender = {1 : "male", 2 : "female"}
jobcat = {1 : "driver", 2 : "repair person", 3 : "maid", 4 : "cook", 5 : "delivery man"}
salary = {1 : 10000, 2 : 15000, 3 : 20000, 4 : 25000, 5 : 30000, 6 : 35000}
displaysal = {1 : '10k-15k', 2 : '16k-20k', 3 : '21k-25k', 4 : '26k-30k', 5 : '31k-35k', 6 : '36k-40k'}
candi_name   =input("Tell me what's your full name : ")
cityno = int(input("In which city do you live : "))
gen    = int(input("Mwntion the gender : "))
age    = int(input("How old are you : "))

Tell me what's your full name : henry cavil
In which city do you live : 3
Mwntion the gender : 1
How old are you : 32

In [5]:

if age >= 18 and age <= 40:
    print("This is exciting")
    print("I already found some jobs that you might like")

This is exciting
I already found some jobs that you might like

In [6]:
descat = int(input("So, what kind of job would you like please select a category : "))
print(displaysal)
dessal = int(input("how much salary you are expecting, please pick a range : "))

So, what kind of job would you like please select a category : 3
{1: '10k-15k', 2: '16k-20k', 3: '21k-25k', 4: '26k-30k', 5: '31k-35k', 6: '36k-40k'}
how much salary you are expecting, please pick a range : 3

In [7]:
df2 = pd.read_csv('jobs.csv', index_col = 'category')
df3 = pd.read_csv('jobs.csv', index_col = 'salary')

In [8]:
dctt = {}
for i in df['category'].unique():
    if i == jobcat[descat]:
        dctt = df2.loc[i]

In [9]:
dctt.to_csv('dctt.csv')
df3 = pd.read_csv('dctt.csv', index_col = 'salary')

In [10]:
dctt['salary']

category
maid    13000
maid    14000
maid    17000
maid    18000
maid    22000
maid    30000
maid    26000
maid    16000
maid    26000
maid    21000
maid    21500
maid    24000
Name: salary, dtype: int64

In [11]:
df3

       category      Job title            employer
salary
13000      maid  house keeping  sahyog consultancy
14000      maid  house keeping  sahyog consultancy
17000      maid  house keeping  sahyog consultancy
18000      maid   private maid  sahyog consultancy
22000      maid   private maid                 Hts
30000      maid  house keeping            vip jobs
26000      maid  house keeping            vip jobs
16000      maid  house keeping            vip jobs
26000      maid  house keeping            vip jobs
21000      maid  house keeping        dio services
21500      maid  house keeping        dio services
24000      maid  house keeping        dio services

In [12]:
dctt2 = {}
c = 0
for i in dctt['salary'].values:
    if i >= salary[dessal] and i < salary[dessal]+5000:
        dctt2[c] = df3.loc[i]
        c+=1

22000
21000
21500
24000

In [13]:
dctt2

{0: category             maid
 Job title    private maid
 employer              Hts
 Name: 22000, dtype: object,
 1: category              maid
 Job title    house keeping
 employer      dio services
 Name: 21000, dtype: object,
 2: category              maid
 Job title    house keeping
 employer      dio services
 Name: 21500, dtype: object,
 3: category              maid
 Job title    house keeping
 employer      dio services
 Name: 24000, dtype: object}

In [14]:
dctt2

{0: category             maid
 Job title    private maid
 employer              Hts
 Name: 22000, dtype: object,
 1: category              maid
 Job title    house keeping
 employer      dio services
 Name: 21000, dtype: object,
 2: category              maid
 Job title    house keeping
 employer      dio services
 Name: 21500, dtype: object,
 3: category              maid
 Job title    house keeping
 employer      dio services
 Name: 24000, dtype: object}

In [15]:
jobslct = int(input("Please select the job you suitable to from the above list : "))

Please select the job you suitable to from the above list : 2

In [17]:

for i in dctt2.keys():
    if i == jobslct:
        choice = dctt2[i]

In [18]:
ackdct = {1 : 1, 2 : 2}

print("Great, your application has been succesfully submited to the your selected employer that is employer name:  " )
ack = int(input("these are the choices you have made, so, are you sure you want to forward this application for further process"))

if ack == ackdct[1]:
    print("Okay, ", candi_name, "you applide for the following job ", choice, " The employer will contat you for the further process")
    print("thank you for making us help you")
else:
    print("Okay then, ", candi_name, "We think you should give it another shot and thank you for chosing us")

Great, your application has been succesfully submited to the your selected employer that is employer name:
these are the choices you have made, so, are you sure you want to forward this application for further process1
Okay,  henry cavil you applide for the following job  category              maid
Job title    house keeping
employer      dio services
Name: 21500, dtype: object  The employer will contat you for the further process
thank you for making us help you