In [43]:
import numpy as np
import pandas as pd

In [44]:
df = pd.read_csv('jobs.csv')

In [45]:
print("Welcome to Big Biggerson")
print("We will together find a better job for youj")

Welcome to Big Biggerson
We will together find a better job for youj

In [46]:
city   = {1 : "Mumbai", 2 : "Nagpur", 3 : "Pune", 4 : "Delhi", 5 : "Bhopal", 6 : "Indore", 7 : "Jaipur", 8 : "madras", 9 : "Ambur", 10 : "banglore"}
gender = {1 : "male", 2 : "female"}
jobcat = {1 : "driver", 2 : "repair person", 3 : "maid", 4 : "cook", 5 : "delivery man"}

candi_name   =input("Tell me what's your full name : ")
cityno = int(input("In which city do you live : "))
gen    = int(input("Mwntion the gender : "))
age    = int(input("How old are you : "))

Tell me what's your full name : Shoeb Qureshi
In which city do you live : 1
Mwntion the gender : 2
How old are you : 3

In [47]:

if age >= 18 and age <= 40:
    print("This is exciting")
    print("I already found some jobs that you might like")

In [48]:
descat = int(input("So, what kind of job would you like please select a category : "))

So, what kind of job would you like please select a category : 4

In [49]:
df2 = pd.read_csv('jobs.csv', index_col = 'category')

In [50]:
for i in df['category'].unique():
    if i == jobcat[descat]:
        print(df2.loc[i])

                Job title        employer  salary
category
cook             Jr. Chef         al-beik   15000
cook      sandwitch maker            zauq   12000
cook         burger maker   Big biggerson   25000
cook             Veg chef  veere da dhaba   29000
cook             Veg chef   hotel rajhans   29000
cook                baker   hotel rajhans   20000

In [23]:
data = pd.read_csv('jobs.csv', index_col = 'category')

In [24]:
first = data.loc['driver']

In [25]:
first

                Job title            employer  salary
category
driver    personal driver  sahyog consultancy   25000
driver          cab drver                ola    16000
driver          cab drver                uber   18000

In [14]:
for i in df['category'].values:
    print(i)

cook
cook
repair person
driver
driver
driver
repair person