In [124]:
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_csv('jobs.csv')

In [13]:
print("Welcome to Big Biggerson")
print("We will together find a better job for youj")

Welcome to Big Biggerson
We will together find a better job for youj

In [14]:
city   = {1 : "Mumbai", 2 : "Nagpur", 3 : "Pune", 4 : "Delhi", 5 : "Bhopal", 6 : "Indore", 7 : "Jaipur", 8 : "madras", 9 : "Ambur", 10 : "banglore"}
gender = {1 : "male", 2 : "female"}
jobcat = {1 : "driver", 2 : "repair person", 3 : "maid", 4 : "cook", 5 : "delivery man"}
salary = {1 : 10000, 2 : 16000, 3 : 21000, 4 : 26000, 5 : 31000, 6 : 36000}

candi_name   =input("Tell me what's your full name : ")
cityno = int(input("In which city do you live : "))
gen    = int(input("Mwntion the gender : "))
age    = int(input("How old are you : "))

Tell me what's your full name : rocky handsome
In which city do you live : 1
Mwntion the gender : 1
How old are you : 34

In [15]:
if age >= 18 and age <= 40:
    print("This is exciting")
    print("I already found some jobs that you might like")

This is exciting
I already found some jobs that you might like

In [16]:
descat = int(input("So, what kind of job would you like please select a category : "))
dessal = int(input('what salary are you expecting?, please select a range : '))

So, what kind of job would you like please select a category : 3
what salary are you expecting?, please select a range : 3

In [17]:
df2 = pd.read_csv('jobs.csv', index_col = 'category')

In [18]:
dctt = {}
for i in df['category'].unique():
    if i == jobcat[descat]:
        dctt = (df2.loc[i])

In [19]:
dctt

              Job title            employer  salary
category
maid      house keeping  sahyog consultancy   13000
maid      house keeping  sahyog consultancy   14000
maid      house keeping  sahyog consultancy   17000
maid       private maid  sahyog consultancy   18000
maid       private maid                 Hts   22000
maid      house keeping            vip jobs   30000
maid      house keeping            vip jobs   26000
maid      house keeping            vip jobs   16000
maid      house keeping            vip jobs   26000
maid      house keeping        dio services   21000
maid      house keeping        dio services   21500
maid      house keeping        dio services   24000

In [116]:
dctt.to_csv('dctt.csv')
df3 = pd.read_csv('dctt.csv', index_col = 'salary')

In [117]:
df3

       category      Job title            employer
salary
13000      maid  house keeping  sahyog consultancy
14000      maid  house keeping  sahyog consultancy
17000      maid  house keeping  sahyog consultancy
18000      maid   private maid  sahyog consultancy
22000      maid   private maid                 Hts
30000      maid  house keeping            vip jobs
26000      maid  house keeping            vip jobs
16000      maid  house keeping            vip jobs
26000      maid  house keeping            vip jobs
21000      maid  house keeping        dio services
21500      maid  house keeping        dio services
24000      maid  house keeping        dio services

In [120]:
dctt2 = {}
c = 0
for i in dctt['salary'].values:
    if i >= salary[dessal] and i < salary[dessal]+5000:
        dctt2[c] = (df3.loc[i])
        c+=1
        print(i)

22000
21000
21500
24000

In [121]:
dctt2

{0: category             maid
 Job title    private maid
 employer              Hts
 Name: 22000, dtype: object,
 1: category              maid
 Job title    house keeping
 employer      dio services
 Name: 21000, dtype: object,
 2: category              maid
 Job title    house keeping
 employer      dio services
 Name: 21500, dtype: object,
 3: category              maid
 Job title    house keeping
 employer      dio services
 Name: 24000, dtype: object}