In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('jobs.csv')

In [3]:
print("Welcome to Big Biggerson")
print("We will together find a better job for youj")

Welcome to Big Biggerson
We will together find a better job for youj

In [4]:
city   = {1 : "Mumbai", 2 : "Nagpur", 3 : "Pune", 4 : "Delhi", 5 : "Bhopal", 6 : "Indore", 7 : "Jaipur", 8 : "madras", 9 : "Ambur", 10 : "banglore"}
gender = {1 : "male", 2 : "female"}
jobcat = {1 : "driver", 2 : "repair person", 3 : "maid", 4 : "cook", 5 : "delivery man"}
salary = {1 : 10000, 2 : 15000, 3 : 20000, 4 : 25000, 5 : 30000, 6 : 35000}
displaysal = {1 : '10k-15k', 2 : '16k-20k', 3 : '21k-25k', 4 : '26k-30k', 5 : '31k-35k', 6 : '36k-40k'}
candi_name   =input("Tell me what's your full name : ")
cityno = int(input("In which city do you live : "))
gen    = int(input("Mwntion the gender : "))
age    = int(input("How old are you : "))

Tell me what's your full name : donald trump
In which city do you live : 1
Mwntion the gender : 1
How old are you : 32

In [5]:

if age >= 18 and age <= 40:
    print("This is exciting")
    print("I already found some jobs that you might like")

This is exciting
I already found some jobs that you might like

In [6]:
descat = int(input("So, what kind of job would you like please select a category : "))
print(displaysal)
dessal = int(input("how much salary you are expecting, please pick a range : "))

So, what kind of job would you like please select a category : 3
{1: '10k-15k', 2: '16k-20k', 3: '21k-25k', 4: '26k-30k', 5: '31k-35k', 6: '36k-40k'}
how much salary you are expecting, please pick a range : 3

In [7]:
df2 = pd.read_csv('jobs.csv', index_col = 'category')
df3 = pd.read_csv('jobs.csv', index_col = 'salary')

In [8]:
dctt = {}
for i in df['category'].unique():
    if i == jobcat[descat]:
        dctt = df2.loc[i]

In [9]:
dctt['salary']

category
maid    13000
maid    14000
maid    17000
maid    18000
maid    22000
maid    30000
maid    26000
maid    16000
maid    26000
maid    21000
maid    21500
maid    24000
Name: salary, dtype: int64

In [10]:
dctt2 = {}
c = 0
for i in dctt['salary'].values:
    if i > salary[dessal] and i <= salary[dessal] + 5000:
        c+=1
        dctt2[c] = i

In [20]:
jr = pd.read_csv('jobrslt.csv')

In [33]:
c = 0
for i in dctt['salary']:
    print(i)

13000
14000
17000
18000
22000
30000
26000
16000
26000
21000
21500
24000

In [21]:
dctt2

{1: 22000, 2: 21000, 3: 21500, 4: 24000}

In [ ]:
c = 0
for i in dctt['salary'].values:
    if dctt['salary'][c] >= salary[dessal] and dctt['salary'][c] <= salary[dessal] + 5000:
        print(oo)

In [ ]:
 and dctt['salary'][c] <= salary[dessal]+5000: